header {
    background: url('../medias/background.png') $dark-grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 15px 0;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.466);
    margin-bottom: 35px;
    h1 {
        font-family: "Roboto-M-B";
        color: $light-grey;
        font-size: 20px;
        display: inline-block;
        .h1-color {
            color: $blue;
            text-transform: uppercase;
            font-size: 10px;
        }
    }
}