body {

    .wrap-home {

        padding: 50px 50px 20px 50px;

        h2 {
            font-family: "Raleway-SB";
            color: $dark-grey;
            font-size: 20px;
            padding-left: 10px;
            margin: auto 0;
            text-shadow: .04em .04em 0 #9cb8b3;
        }
        .ul-home {
            margin-top : 40px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            .wrap-list {
                margin : 0;
                opacity: 0.8;
                transition: all .8s;
                &:hover {
                    opacity: 1;
                    transition: all .8s;
                }
                .img-movie-home {
                    img {
                        width: 100%;
                        max-height: auto;
                        border : 8px solid $blue;
                        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.466);
                    }
                }
            }
            .links {
                .movie-title {
                    padding-top: 15px;
                    a {
                        font-family: "Roboto-M-B";
                        color: $dark-grey;
                        transition: all .8s;
                        &:hover {
                            text-decoration: none;
                            color: $blue;
                            transition: all .8s;
                        }
                    }
                }
                .button {
                    margin: 10px 0 40px 0;
                    a {
                        padding: 3px 10px;
                        text-decoration: none;
                        font-family: "Roboto-M-L";
                        font-size: 12px;
                        color: $light-grey;
                        background-color: $purple;
                        text-align: right;
                    }
                }
            }
        }
    }
}