body {
    .wrap-home {
        padding : 50px 50px 20px 50px;
        background-color : $light-grey;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.466);

        .ul-home {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            .wrap-list {

                opacity: 0.7;
                transition: all .8s;
                &:hover {
                    opacity: 1;
                    transition: all .8s;
                }
                .img-movie-home {
                    img {
                        width: 100%;
                        max-height: auto;
                        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.466);
                    }
                }
            }
            .links {
                .movie-title {
                    padding-top: 15px;
                    a {
                        font-family: "Roboto-M-B";
                        color: $dark-grey;
                        transition: all .8s;
                        &:hover {
                            text-decoration: none;
                            color: $blue;
                            transition: all .8s;
                        }
                    }
                }
                .button {
                    margin : 10px 0 40px 0;
                    a {

                        padding : 3px 10px;
                        text-decoration: none;
                        font-family: "Roboto-M-L";
                        font-size: 12px;
                        color: $light-grey;
                        background-color: $blue;
                        text-align: right;
                    }
                }
            }
        }
    }
}