
{% extends 'layout.html' %}

{% block content %}
    <h1>Members</h1>
    <ul>

        {% for movie in movies %}

        <li>Titre :
            <a href="">{{ movie.titre }}</a>
        </li>
        <li>Description : {{ movie.description }}</li>
        <li>Année de sortie : {{ movie.annee }}</li>
        <li>Genre : {{ movie.genre }}</li>
        <li>Acteurs : {{ movie.acteur }}</li>
        <li>Realisateur : {{ movie.realisateur }}</li>
        <img src= {{ movie.image }}> 
        {% endfor %}

    </ul>
{% endblock %}