{% extends 'layout.html' %}
{% block head %}

    <h1>Allo-ciné is
        <span class="h1-color">in da place</span>
    </h1>

{% endblock %}
{% block content %}
    <section class="row wrap-home">
        <ul class="ul-home">
            {% for movie in movies %}
                <div class="col-6 col-md-3 wrap-list">
                    <div class="img-movie-home">
                        <a href="index.php?action=fiche-film&id={{ movie.id_f }}">
                            <img src="{{ movie.image }}">
                        </a>
                    </div>
                    <div class="links">
                        <li class="movie-title">
                            <a href="index.php?action=fiche-film&id={{ movie.id_f }}">
                                {{ movie.titre }}</a>
                        </li>
                        <li class="button">
                            <a href="index.php?action=fiche-film&id={{ movie.id_f }}">En savoir +</a>
                        </li>
                    </p>
                </div>
            </div>
        {% endfor %}

    </ul>
</section>
{% endblock %}