{% extends 'layout.html' %}


{% block header %}

<div class="bande-img">
        <img src="{{ movie.bande }}">
</div>

{% endblock %}

{% block content %}

    <div class="breadcrumb">
        <a href="">< home</a>"
    </div>
    <section class="wrap-fiche">
        <h2>{{ movie.titre }}</h2>
        <div class="row wrap-infos-film">
            <div class="img-film col s12 col m3">
                <img src="{{ movie.image }}">
            </div>
            <ul class="infos-film col s12 col m9">
                <li class="infos">
                    <span class="bold">De :</span>
                    <a href="index.php?action=fiche-real&id={{ movie.id_r }}">{{ movie.realisateur }}</a>
                </li>
                <li class="infos">
                    <span class="bold">Avec :</span>
                    {{ movie.acteur }}</li>
                <li class="infos">
                    <span class="bold">Année de sortie :</span>
                    {{ movie.annee }}</li>
                <li class="infos">
                    <span class="bold">Genre :</span>
                    {{ movie.genre }}</li>
                <li class="infos">
                    <span class="bold">Description :</span>
                    {{ movie.description }}</li>

            </ul>
        </div>
        <div class="row wrap-infos-film">
            <h3>Regarder la bande annonce</h3>
            <div class="iframe-film col s12">
                <iframe src='{{ movie.iframe }}'></iframe>
            </div>
        </div>
    </section>
{% endblock %}