
{% extends 'layout.html' %}

{% block content %}

    <h1>Film : {{ movie.titre }} </h1>
    <ul>

        <li>Description : {{ movie.description }}</li>
        <li>Année de sortie : {{ movie.annee }}</li>
        <li>Genre : {{ movie.genre }}</li>
        <li>Acteurs : <a href="index.php?action=fiche-acteur&id={{ movie.id_f }}">  {{ movie.acteur }} </a></li>
        <li>Realisateur : <a href="index.php?action=fiche-real&id={{ movie.id_f }}"> {{ movie.realisateur }} </a></li>
        <img src="{{ movie.image }}"> 
        
    </ul>
{% endblock %}